* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
}

.header a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    color: #111111;
}

.logo {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    line-height: 43px;
    margin: 47px;
}

.header-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 auto;
}

/* .logo {
    padding: 47px 0;
    margin-left: 230px;
} */



.nav-bar {
    display: flex;
    align-items: center;
    margin-left: 585px;
}

.button{
    border: none;
    background-color: transparent;
    margin-right: 102px;
    padding-left: 51px;
    margin-top: 55px;
}

.nav-bar a{
    text-decoration: none;
    padding-right: 34px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
}

.container {
    max-width: 1245px;
    margin: 0 auto;
}

/* .creative {
    display: flex;
    margin-top: 109px;
} */

.title-wrapper {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
}

/* .col-6 {
    max-width: 50%;
} */

.col-6 {
    margin-top: 109px;

    width: 50%;
    box-sizing: border-box;
}

.title {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 86px;

    color: #000000;

    width: 544px;
    height: 203px;
}

.desc-creative p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    /* or 31px */


    color: #333333;
    padding-bottom: 28px;

    width: 430px;
}

.desc-creative a {
    margin-top: 100px;
    font-family: 'Rubik' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */

    text-decoration-line: underline;
    color: #000000;


}

.col-4 {
    width: 33.3%;
    /* padding: 0 5px; */

    
}

.section1 svg{
    margin-top: 117px;
}

.section1 p {
    width: 380px;
    /* padding: 0 10px; */
    /* margin-top: 117px; */
}

.col-4 h2 {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #000000;

    padding-top: 15px;
    padding-bottom: 10px;
}

.col-4 p {

    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 170%;
    color: #444444;
}

.section2 {
    background-color: #EBD7CC;
    margin-top: 148px;
}

.block2 {
    padding-top: 148px;
    text-align: center;
    margin: 0 auto;
}

.block2 h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: #1A1A1A;
    margin-left: 150px;
    width: 891px;
    height: 140px;
    font-family: 'Oxygen', sans-serif;
}

.block2 p {
    width: 600px;
    height: 58px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    margin-left: 300px;
    margin-top: 27px;
}

.block2 button {
    width: 166px;
    height: 66px;
    border-radius: 50px;
    background: #3D67FF;

    margin-top: 29px;
    border: none;

    text-transform: uppercase;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 50px;
}


.block2 img {
    display: block;
    width: 100%;
    margin: 0 auto;

}

.options {
    margin-top: 274px;
    margin-left: 80px;
}

.options h3 {
    font-family: 'Oxygen' ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    width: 479px;

}

.options p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;

    color: #666666;
    width: 445px;

    margin-top: 24px;
    margin-bottom: 16px;

}

.options h6 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 280%;

    
}

.options svg {
    padding-right: 19px;
    padding-top: 10px;
}


.options button {
    width: 166px;
    height: 66px;
    border-radius: 50px;
    background: #3D67FF;

    margin-top: 29px;
    border: none;

    text-transform: uppercase;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 50px;
}

.col-5 {
    width: 41.67%;
    /* padding: 0 10px; */
}

.col-7 {
    width: 58.33%;
}

.col-2 {
    width: 16.66%;   
}

.col-10 {
    width: 83.74%;
}


.sec3-second-block.col-6{
    width: 50%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.sec3-second-block h5{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
}

.sec3-second-block {
    margin-top: 100px;
}

.sec3-second-block img {
    width: 100%;
    
}

.title-sec-block {
    margin-top: 150px;
}


.desc3 {
    display: flex;
}

.p {
    /* width: 250px; */
    padding-left: 58px;
    padding-bottom: 23px;
}

.desc3 h4{
    display: flex;
    align-items: center;
    padding-left: 29px;

    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 170%;
}

.sec3-second-block p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* or 32px */
    padding-top: 29px;

    color: #666666;
}

.section4 {
    background-color: #E6EAF2;
}

.section4 h2{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* or 64px */


    color: #1A1A1A;
}

.section4 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    /* or 32px */


    color: #666666;

    margin-top: 52px;
}

.col-1 {
    width: 10%;
    /* margin: 0 15px; */
}

.col-11 {
    width: 90%;
    /* padding: 0 15px; */

}

.social-media {
    margin-top: 66px;
}

.social-media p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 280%;
    /* or 48px */


    color: #1A1A1A;
    margin-top: 0;
    margin-left: 10px;
}

.social-media svg {
    margin-top: 12px;
    margin-left: 15px;
}

.section4 button {
    width: 166px;
    height: 66px;
    border-radius: 50px;
    background: #3D67FF;

    margin-top: 83px;
    border: none;

    text-transform: uppercase;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 50px;
}


.section5 {
    background: #FFCB39;
    /* text-align: center; */
    text-align: center;
}

.section5 h3 {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* text-align: center; */

    color: #1A1A1A;

    padding-top: 142px;
    padding-bottom: 38px;
}

.section5 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */


    color: #666666;
    /* text-align: center; */

}

.section5 button {
    width: 166px;
    height: 66px;
    border-radius: 50px;
    background: #3D67FF;

    margin-top: 32px;
    border: none;

    text-transform: uppercase;
    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
    /* margin-bottom: 32px; */



}

.span {
    display: block;
    text-align: center;
    /* margin: 0 auto; */
    padding-top: 10px;
}

.section5 img {
    width: 100%;
    margin-top: -250px;
}

.section6 img{
    width: 100%;
    /* padding-left: 100px; */
    /* margin: 0 auto; */
}

.sec-6-desc {
    display: flex;
    justify-content: space-between;
    /* padding-top: 33px; */
}

.sec-6-desc h6 {
  

    font-family: 'Oxygen' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 180%;
    /* or 34px */
    
    /* padding-left: 93px; */
    
    color: #111111;
    
}

.sec-6-desc svg {
    padding-top: 17px;

}

.section6 h3{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    width: 521px;

    font-size: 50px;
    line-height: 100%;
    /* or 64px */
    /* padding-top: 29px; */


    color: #1A1A1A;
}

.questions {
    display: block;
}

.section6 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */
    width: 447px;



    color: #666666;

    margin-top: 30px;
    padding-bottom: 20px;
}

.section6 {
    margin-top: 186px;
}

.plus {
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    align-items: center;

}

.plus h6 {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 300%;
    /* or 57px */


    color: #111111;
}


.section7 {
    background-color: #C4C4C4    ;
    background-image: url(../assets/bg\ mask.png);
    background-size: cover;
    /* height: 500px; */
    background-repeat: no-repeat;

}

.section4 h2 {
    margin-top: 147px;
}
/* 
.span1 {
    display: block;
    margin-left: 60px;
} */

.section7 h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 180%;

    padding-left: 19px;
    /* or 61px */


    color: #111111;
    /* text-align: center; */
}



.title-sec-7 {
    display: flex;
    width: 877.83px;
    padding-top: 189px;

    margin: 0 auto;


}

.john {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 738px;

    margin-top: 21px;

}

.john h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */


    color: #111111;

}



.title-sec-7 img {
    width: 100%;
}

.clients {
    text-align: center;
    margin-top: 140px;
    padding-bottom: 142px;
}

/* .john circle:hover {
    background-color: #000000;
} */

.section8 h3 {
   

    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* identical to box height, or 64px */

    text-align: center;

    color: #1A1A1A;

    margin-top: 129px;
}

.section8 p {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    /* or 32px */

    text-align: center;

    color: #666666;
    margin-top: 29px;
}


.apps h6{
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170%;
    /* identical to box height, or 31px */


    color: #000000;
    text-align: center;
    padding-top: 50px;
}
/* .popular {
    background-color: ;
} */

.column-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-2 svg {
    margin-left: 18px;
    padding-top: 40px;
    display: flex;
    align-items: center;
}

/* .apps p {
    font-family: 'Lora', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 82px;
    /* identical to box height 


    color: #111111
     
 } */

.apps {
    text-align: center;
    border-radius: 10px;
    background: #F1F1F1;
    width: 412px;
    margin-top: 60px;
    box-shadow: -2px -3px 30px 0px rgba(241,241,241,0.75);
    -webkit-box-shadow: -2px -3px 30px 0px rgba(241,241,241,0.75);
    -moz-box-shadow: -2px -3px 30px 0px rgba(241,241,241,0.75);
    height: 834px;

}

.apps svg {
    margin-top: 20px;
}

.apps span {
    display: block;
}



.pp {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
    /* or 40px */

    /* text-align: center; */
    width: 190px;
    height: 331px;
    margin: 0 auto;

    color: #333333;
}

.apps button{
    font-family: 'JejuGothic', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 330%;
    /* or 59px */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    background: #F03125;
    border-radius: 150px;
    border: none;
    /* padding: 10px; */
    width: 146px;
    height: 53px;
    margin-top: 150px;
}

.section9 h3 {
    font-family: 'Oxygen', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    /* or 64px */
    width: 710px;
    /* margin: 0 auto; */


    color: #1A1A1A;

}

.section9 {
    margin-top: 144px;
}

.section9 p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 180%;
    /* or 34px */

    /* text-align: center; */
    color: #777777;
    padding-top: 20px;

}


.block-9 {
    margin-left: 300px;
    margin-bottom: 186px;
}

.block-9 button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 180%;
    /* identical to box height, or 27px */

    text-transform: uppercase;
    width: 166px;
    height: 66px;
  

    border-radius: 50px;
    border: none;

    color: #FFFFFF;
    margin-top: 30px;
}

.register {
    background: #8FCA12;
    margin-left: 15px;
}

.sign-in {
    background: #7D5FBD;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}


.footer a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    /* identical to box height, or 250% */

    text-transform: uppercase;

    color: #111111;
    text-decoration: none;
    margin-right: 50px;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #111111;
}